
@import url('https://fonts.googleapis.com/css2?family=PT+Serif:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Serif:ital@1&family=Roboto+Slab:wght@400;500&display=swap');

*{
    margin: 0;
    padding: 0;
}
.sidebar{
    background-color: rgb(13, 31, 31);  
    font-family: 'PT Serif', serif;
    height: 100vh;
    transition: transform 0.3s ease-in;
}
.logos {
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 56px;
    color: whitesmoke;
}
.sidebar nav{
    padding: 45px;
}
.sidebar nav li{
    list-style: none;
    font-size: 25px;
    padding: 33px 0;
}
.sidebar nav li a{
    text-decoration: none;
    color: lightgray;
}
.sidebar li{
    list-style: none;
    font-size: large;
    padding: 30px;
}
.main{
    background-color: rgb(13, 31, 31);
    width: 110vw;
    height: 100vh;
}
.container{
    display: flex;
}
.infoContainer{
    background-color:rgb(196, 181, 159);
    height: 48vh;
    width: 80vw;
    margin: 144px auto;
    display: flex;
    justify-content: space-around;
}
.meghinfo{
    color: #0e0808;
    font-size: large;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.hello{
    font-size: 65px;
}
.name{
    font-size: 50px;
    font-weight: lighter;
    font-family:'Roboto Slab', serif;
}
.about{
    padding-top: 20px;
    padding-left: 30px;
    font-family: 'Roboto Slab', serif;
}
.buttons{
    margin-top: 34px;
}
.buttons button{
    padding: 9px 14px;
    border-radius: 32px;
    color: skyblue;
    background-color: rgb(44, 5, 237);
    font-weight:lighter;
    font-size: 21px;
    margin: 0 3 px;
    cursor: pointer;
}
.buttons button:hover{
    background-color: whitesmoke;
    color: rgb(139, 125, 88);
}
.meghpic img{
    width: 284px;
}
.contactform{
    padding-top: 50px;
    padding-bottom: 20px;
    height: 90vh;
    background-color: black;
    color: rgb(218, 219, 222);
    font-size: larger;
    font-style: normal;
    font-weight: lighter;
    display: flex;
    align-items: center;
    flex-direction: column;
}
/* Button styles */
.button {
    padding-top: 200px;
    padding: 10px 20px;
    background-color: rgb(18, 15, 163);
    color: white;
    border: none;
    border-radius: 15px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 16px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Link styles */
.link {
    padding-top: 5px;
    color: silver;
    text-decoration:none;
}

.link:hover {
    text-decoration:underline;
}

.intro{
    padding-top: 150px;
    height: 80vh;
}
.intro-color{
    color: #b12384;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.incolor{
    background-color: rgb(13, 31, 31);
}
.profiles {
    padding-top: 5px;
    height: 100vh;
    background-color:rgb(17, 41, 41);
    color: #333333;
    font-size: 18px;
    display: flex;
    align-items: center;
    flex-direction: column;
  }
   /* Logo container styles */
   .logo-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 30px;
    height: 90%;
  }

  /* Logo button styles */
  .logo-button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    transition: transform 0.3s;
  }

  .logo-button:hover {
    transform: scale(1.1);
  }

  /* Logo image styles */
  .logo-image {
    width: 100px;
    height: 100px;
    border-radius: 100%;
    border: 3px solid #000c06;
  }

  @media (max-width: 2500px) {
    .logo-container {
      justify-content: flex-start;
    }

    .logo-button {
      margin: 50px 80px;
    }
  }
.typewriter{
    font-family: Georgia, 'Times New Roman', Times, serif;
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    border-right: .15em solid #0f601b; /* The typwriter cursor */
    white-space: nowrap; /* Keeps the content on a single line */
    margin: 0 auto; /* Gives that scrolling effect as the typing happens */
    letter-spacing: .10em; /* Adjust as needed */
    animation: 
    typing 3.5s steps(40, end),
    blink-caret .75s step-end infinite;
}
  /* The typing effect */
  @keyframes typing {
    from { width: 0 }
    to { width: 100% }
}
  /* The typewriter cursor effect */
@keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: #3264AF; }
}
.eduback{
    background-color: rgb(196, 181, 159);
}
.education-details h1{
    font-weight: 600;
    font-size: 40px;
    line-height: 50px;
    color: #2c0101;
    width: fit-content;
}
.education-details p, label{
    font-size: 14px;
    line-height: 24px;
    color:#041e45;
    width: 400px;
    text-align: justify;
    margin-bottom: 48px;
    vertical-align: middle;
}
.education-details li{
    list-style: none;
    font-size: 18px;
    color: #451919;
    line-height: normal;
}
.edu {
    width: 30%;
    padding: 3%;
    margin-right: 3%;
    float:left;
}
.edu h3{
    font-size: 28px;
}
.edu p{
    font-size: 18px;
}
.edu img{
    width: 135px;
    height: fit-content;
}
/*.skills{
    padding: 12px;
    padding-top: 30px;
}
.skillitem{
    display: flex;
    align-items: center;
}
.skill{
    width: 265px;
    height: 6px;
    background-color: #451919;
    border: 2px solid black;
}
.hundered{
    width: 265px;
    background-color: #4daf32;
}
.fifty{
    width: 125px;
    background-color: yellowgreen;
}
.seventyfive{
    width: 200px;
    background-color: rgb(62, 139, 114);
}
.twentyfive{
    width: 75px;
    background-color: rosybrown;
}*/
.sidebarGo{
    transform: translate(-443px, 0px);
    position: absolute;
}
.hamburger{
    position: absolute;
    cursor: pointer;
    top:10px;
    left: 10px;
}
.cross{
    margin-left: 185px;
    margin-top: 10px;
}
.ham{
    margin-top: 10px;
}
/* Skill box styles */
.back{
    background-attachment:fixed;
    background-color: rgb(13, 31, 31)  ;
}
.skill-box {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    gap: 80px;
  }

  .skill {
    padding: 10px 20px;
    background-color: #ffffff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 500px;
  }

  .skill-name {
    color: #333333;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
  }

  .skill-level-bar {
    width: 100%;
    height: 10px;
    background-color: #dddddd;
    border-radius: 10px;
    margin-bottom: 10px;
  }

  .skill-level-bar-inner {
    height: 100%;
    background-color: #20633f;
    border-radius: 10px;
  }

  @media (max-width: 1231px) {
    .container{
        font-size: 1rem;
    }
  }




